<!-- Визначення типу документа як HTML -->
<!--Цей HTML-шаблон використовує Thymeleaf-атрибути для зв'язування даних
 з моделлю та відображення списку людей та посилання для додавання нової людини.-->
<!DOCTYPE html>

<!-- Визначення початку HTML-документу і налаштування атрибутів -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Налаштування метаданих сторінки та імпорт зовнішніх ресурсів -->
<head>
    <!-- Встановлення кодування символів -->
    <meta charset="UTF-8">
    <!-- Встановлення заголовку сторінки -->
    <title>Index</title>
</head>

<!-- Початок тіла HTML-документу -->
<body>

<!-- Повторення для кожної людини в списку -->
<div th:each="person : ${people}">
    <!-- Гіперпосилання на сторінку з ідентифікатором людини та відображення її імені та року народження -->
    <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getName() + ', ' + person.getYearOfBirth()}">user</a>
</div>

<!-- Вставка розриву рядка -->
<br/>

<!-- Горизонтальна лінія -->
<hr/>

<!-- Посилання для додавання нової людини -->
<a href="/people/new">Добавити людину!</a>

<!-- Кінець тіла HTML-документу -->
</body>
</html>
