<!-- Визначення типу документа як HTML -->
<!--Цей HTML-шаблон використовує Thymeleaf-атрибути для зв'язування даних з об'єктом "person" і
відображення форми створення нової людини.
Він містить поля для введення ПІБ та року народження,
а також відображення помилок у валідації цих полів.
Кнопка "Створити!" відправляє форму для створення нової людини.-->
<!DOCTYPE html>

<!-- Визначення початку HTML-документу і налаштування атрибутів -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Налаштування метаданих сторінки та імпорт зовнішніх ресурсів -->
<head>
    <!-- Встановлення кодування символів -->
    <meta charset="UTF-8">
    <!-- Встановлення заголовку сторінки -->
    <title>New person</title>
</head>

<!-- Початок тіла HTML-документу -->
<body>

<!-- Форма для створення нової людини -->
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <!-- Мітка для введення ПІБ -->
    <label for="name">Введіть ваш ПІБ: </label>
    <!-- Поле введення для ПІБ, зв'язане з властивістю "name" об'єкта "person" -->
    <input type="text" th:field="*{name}" id="name"/>
    <!-- Відображення помилки у валідації ПІБ -->
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Помилка у ПІБ</div>
    <br/>
    <!-- Мітка для введення року народження -->
    <label for="yearOfBirth">Введіть свій рік народження: </label>
    <!-- Поле введення для року народження, зв'язане з властивістю "yearOfBirth" об'єкта "person" -->
    <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>
    <!-- Відображення помилки у валідації року народження -->
    <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Помилка у віці</div>
    <br/>
    <!-- Кнопка для відправлення форми створення -->
    <input type="submit" value="Створити!"/>
</form>

<!-- Кінець тіла HTML-документу -->
</body>
</html>

