<!-- Визначення типу документа як HTML -->
<!--Цей шаблон містить блоки, що відповідають різним станам даних.
Він виводить інформацію про конкретну людину, список книг,
а також форми для редагування та видалення даних про людину.
Значення ПІБ та року народження виводяться в <p>-елементі.
Якщо список книг порожній, відображається повідомлення "Читач не взяв жодної книги".
У протилежному випадку, перелічуються книги зі списку книг і
використовується клас "red-row" для виділення книг, які були взяті.
Форми "Редагувати" та "Видалити" дозволяють змінювати та видаляти дані про людину відповідно.-->
<!DOCTYPE html>

<!-- Визначення початку HTML-документу і налаштування атрибутів -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Налаштування метаданих сторінки та імпорт зовнішніх ресурсів -->
<head>
    <!-- Встановлення кодування символів -->
    <meta charset="UTF-8">
    <!-- Встановлення заголовку сторінки -->
    <title>Show</title>
    <!-- Стилі для класу "red-row" -->
    <style>
        .red-row {
            color: red;
        }
    </style>
</head>

<!-- Початок тіла HTML-документу -->
<body>

<!-- Виведення значення ПІБ та року народження -->
<p th:text="${person.getName() + ', ' + person.getYearOfBirth()}">VALUE</p>

<!-- Перевірка, чи список книг порожній -->
<div th:if="${books.isEmpty()}">
    <!-- Відображення повідомлення, якщо немає жодної книги -->
    <p>Читач не взяв жодної книги</p>
    <hr/>
</div>

<!-- Перевірка, чи список книг не є порожнім -->
<div th:if="${!books.isEmpty()}">
    <hr/>
    <b>Книги:</b>
    <br/>
    <!-- Перелічення кожної книги зі списку книг -->
    <div th:each="book, status : ${books}">
        <!-- Виведення даних про книгу (назва, автор, рік) та застосування класу "red-row", якщо isTakeBookList має значення true -->
        <div th:text="${book.title + ', ' + book.author + ', ' + book.year}"
             th:class="${isTakeBookList[status.index] ? 'red-row' : ''}">book</div>
    </div>
    <hr/>
</div>

<!-- Форма для переходу до редагування даних про людину -->
<form th:method="GET" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Редагувати"/>
</form>

<!-- Форма для видалення даних про людину -->
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Видалити"/>
</form>

<!-- Кінець тіла HTML-документу -->
</body>
</html>

