<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<div th:each="book : ${books}">
    <!-- Цикл для перебору книг у списку books -->

    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getTitle() + '/ ' + book.getAuthor() + '/ - ' + book.getYear() + 'рік'}">book</a>
    <!-- Посилання на кожну книгу зі списку -->

    <!-- Атрибут th:href вказує на URL-шлях для кожної книги -->
    <!-- У URL-шляху використовується змінна {id}, яка буде замінена на ідентифікатор книги ${book.getId()} -->
    <!-- Кожна книга буде мати окреме посилання -->

    <!-- Атрибут th:text вказує на текст, який буде відображений як посилання -->
    <!-- Використовуються методи getTitle(), getAuthor() та getYear() об'єкта book для отримання відповідних даних -->
    <!-- Текст посилання буде містити назву книги, автора та рік видання -->

    <!-- Кожна книга буде відображена окремим посиланням -->
</div>

<br/>
<hr/>

<a href="/books/new">Добавити книгу</a>
<!-- Посилання для додавання нової книги -->

</body>
</html>