<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Пошук книг</title>
</head>
<body>
<div>
    <form th:action="@{/books/search}" method="get">
        <!-- Форма для пошуку книг -->
        <!-- Атрибут th:action вказує URL-шлях, на який буде відправлено запит на пошук -->
        <!-- У даному випадку - "/books/search" -->

        <span>Введіть пошуковий запит: </span>
        <!-- Текстовий напис, який просить користувача ввести пошуковий запит -->

        <input type="text" name="title" th:value="${title}" />
        <!-- Поле вводу, де користувач може ввести пошуковий запит -->
        <!-- Атрибут name вказує на назву параметра запиту, який буде містити введений користувачем запит -->
        <!-- У даному випадку - "title" -->

        <input type="submit" value="Пошук" />
        <!-- Кнопка "Пошук" для відправки форми -->

    </form>
</div>
<div th:if="${books}">
    <!-- Блок, який відображається, якщо є результати пошуку (якщо змінна "books" не є порожньою) -->

     <p th:each="book : ${books}" th:text="${book.getTitle() + '/ ' + book.getAuthor() + '/ - '}">Books title</p>
    <!-- Перебір кожної книги (об'єкту) у змінній "books" -->

    <!-- Для кожної книги виводиться її назва, автор та дефіс -->
    <!-- Значення виводяться з використанням атрибуту th:text -->

</div>
<div th:if="${owners}">
    <!-- Блок, який відображається, якщо є власники книг (якщо змінна "owners" не є порожньою) -->

    <span th:each="owner : ${owners}">
        <!-- Перебір кожного власника (об'єкту) у змінній "owners" -->

    <span>Зараз ця книга у: </span> <span th:text="${owner.getName()}">Person name</span>
        <!-- Виведення повідомлення про те, в чиїх руках знаходиться книга -->
        <!-- Використовується значення власника (об'єкту) для виведення його імені -->
        <!-- Ім'я виводиться з використанням атрибуту th:text -->
        </span>
</div>

<div th:if="${error}">
    <!-- Блок, який відображається, якщо є помилка (якщо змінна "error" не є порожньою) -->

    <p th:text="${error}">Помилка</p>
    <!-- Виведення тексту помилки -->
    <!-- Текст виводиться з використанням атрибуту th:text -->
</div>
</body>
</html>