<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Show</title>
</head>
<body>
<p th:text="${book.getTitle() + '/ ' + book.getAuthor() + '/ - ' + book.getYear() + 'рік'}">VALUE</p>
<!-- Виведення заголовка, автора та року видання книги -->
<!-- Значення виводяться з використанням атрибуту th:text -->

<div th:if="${owner}">
    <!-- Блок, який відображається, якщо є власник книги (якщо змінна "owner" не є порожньою) -->

    <span>Зараз ця книга у: </span> <span th:text="${owner.getName()}">Person name</span>
    <!-- Виведення повідомлення про те, в чиїх руках знаходиться книга -->
    <!-- Використовується значення власника (об'єкту) для виведення його імені -->
    <!-- Ім'я виводиться з використанням атрибуту th:text -->

    <form th:method="POST" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <!-- Форма для звільнення книги -->
        <!-- Атрибут th:action вказує URL-шлях, на який буде відправлено запит на звільнення -->
        <!-- У даному випадку - "/books/{id}/release" з параметром "id" в значенні ідентифікатора книги -->

        <input type="submit" value="Звільнити книгу"/>
        <!-- Кнопка "Звільнити книгу" для відправки форми -->
    </form>
</div>

<div th:if="${people}">
    <!-- Блок, який відображається, якщо є доступні люди (якщо змінна "people" не є порожньою) -->

    <span>Ця книга вільна. Кому її призначити?</span>
    <!-- Повідомлення про те, що книга доступна -->

    <form th:method="POST" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <!-- Форма для призначення книги -->
        <!-- Атрибут th:action вказує URL-шлях, на який буде відправлено запит на призначення -->
        <!-- У даному випадку - "/books/{id}/assign" з параметром "id" в значенні ідентифікатора книги -->

        <label for="person">Виберіть людину</label>
        <!-- Мітка для вибору людини -->

        <select th:object="${person}" th:field="*{id}" id="person">
            <!-- Випадаючий список для вибору людини -->
            <!-- Значення зберігаються у змінну "person" і поле "id" об'єкта "person" -->

            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}">
            </option>
            <!-- Перебір доступних людей та створення опцій для випадаючого списку -->
            <!-- Значення та текст опції встановлюються з використанням атрибутів th:value та th:text -->

        </select>
        <input type="submit" value="Призначити книгу"/>
        <!-- Кнопка "Призначити книгу" для відправки форми -->
    </form>
</div>

<hr/>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <!-- Форма для редагування книги -->
    <!-- Атрибут th:action вказує URL-шлях, на який буде відправлено запит на редагування -->
    <!-- У даному випадку - "/books/{id}/edit" з параметром "id" в значенні ідентифікатора книги -->

    <input type="submit" value="Редагувати"/>
    <!-- Кнопка "Редагувати" для відправки форми -->
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <!-- Форма для видалення книги -->
    <!-- Атрибут th:action вказує URL-шлях, на який буде відправлено запит на видалення -->
    <!-- У даному випадку - "/books/{id}" з параметром "id" в значенні ідентифікатора книги -->

    <input type="submit" value="Видалити"/>
    <!-- Кнопка "Видалити" для відправки форми -->
</form>
</body>
</html>